@font-face {
    font-family: Alexandria;
    src: url();
}

a:hover {
  font-style: italic;
  text-decoration: none;
}
a:link {
    color:  #d1ff31;
    text-decoration: none;

}
a:visited {
    color:  #d1ff31;
    text-decoration: none;

}


body {
  font-family: Alexandria;

}


.header {
    color:  #d1ff31;
    width: 1550px;
    padding-top: 50px;
    margin: 0 auto;
    /* border: 2px dotted orange; */
}

.selected {
  font-style: italic;
}

nav {
    float: right;
}


.menu {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    font-weight: 400;
    font-size: 20px;
    /* border: 1px dotted turquoise */
}

.home {
    padding-left: 0px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #2b39ff;

  }
  li {
    list-style-type: none;
  }
  #slideShow {
    width: 700px;
    height: 500px;
    position: relative;
    margin: 100px auto;
    overflow: hidden;
  }
  .slides {
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px;
    transition: 0.5s ease-out;
  } 
  .slides li:first-child {
    margin-left: 100px;
  } 
  .slides li:not(:last-child) {
    float: left;
    margin-right: 100px;
  }
  .controller span {
    position: absolute;
    background-color: transparent;
    color:  #d1ff31;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 45%;
    font-size: 1.3em;
    cursor: pointer;
  } 
  .controller span:hover {
    background-color: rgba(209, 255, 49, 0.2);
  }
  .prev {
    left: 10px;
  } 
  .prev:hover {
    transform: translateX(-10px);
  }
  .next {
    right: 10px;
  } 
  .next:hover {
    transform: translateX(10px);
  }





.expand {
  width: 1200px;
  height: 860px;
  margin: 0 auto;
  margin-top: -50px;
  /* border: 1px solid #d1ff31; */
}



#cssTypeface {
  display: none;
}


.title {
  text-align: center;
  width: 250px;
  height: 60px;
  background: transparent;
  border: 2.5px solid #d1ff31;
  border-radius: 50px;
  margin: 0 auto;
}

#title {
  padding-top: 7px;
  color: #d1ff31;
  font-weight: 300;
  font-size: 32px;
  /* border: 1px solid saddlebrown; */
}

.content {
  margin-top: 70px;
  /* border: 5px dotted greenyellow; */
}

.letters {
  width: 700px;
  /* border: 3px dotted darkmagenta; */
}

.box {
  position: relative;
  display: inline-block;
}

.text {
  width: 450px;
  margin-left: 30px;
  /* text-align: right; */
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  vertical-align: top;
  /* border: 3px dotted darkgoldenrod; */

}

.text2 {
  text-align: center;
  margin-top: 100px;
  color: white;
  font-weight: 300;
  font-size: 18px;
}

.link {
  font-weight: 400;

}


img:hover{
  cursor: pointer;
}



#redesign {
  display: none;
}

.text2-1 {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-weight: 300;
  font-size: 18px;
}

.expand2 {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  margin-top: -50px;
  /* border: 1px solid #d1ff31; */
}





#webportfolio {
  display: none;
}

.expand3 {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  margin-top: -50px;
  /* border: 1px solid #d1ff31; */
}
.title1 {
  text-align: center;
  width: 290px;
  height: 60px;
  background: transparent;
  border: 2.5px solid #d1ff31;
  border-radius: 50px;
  margin: 0 auto;
}
.text2-2 {
  text-align: center;
  margin-top: 50px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}